.table {
    text-align: left;
}

{% comment %} .text-right {
    text-align: right;
} {% endcomment %}

.navbar  {
    background-color: #FFF9BA !important;
}


.footer {
    background-color: #FFF9BA !important;
}