{% extends 'index.html' %}


{% block title %}Acerca{% endblock %}


{% block content %}

<div class="mb-3 p-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat omnis adipisci explicabo tenetur nobis. Voluptatibus
    odit accusamus perspiciatis asperiores atque? Qui nemo ab velit dolorem doloribus sint veniam fugiat rem?
    Repellendus ea ullam perspiciatis magnam vero debitis, est nihil cupiditate id autem odit quas in nostrum, totam
    molestias reiciendis tempore atque, aliquid voluptas blanditiis ipsa maiores at? Iusto, voluptatem laboriosam?
    Quis aspernatur et dolore. Iusto repellendus mollitia harum vero laboriosam cum modi atque, libero minima, fugit
    possimus commodi iure sunt eveniet doloribus reprehenderit explicabo optio culpa consequatur accusantium expedita a.
    Labore et porro quaerat ratione voluptatibus vel accusantium placeat modi beatae, itaque quod amet ea! Nemo ex
    dolorem ducimus autem voluptatem, soluta sunt voluptate aliquid quasi, rem dolor esse facere.
    Libero, delectus perspiciatis? Odio culpa dolore delectus excepturi maiores magni explicabo, dolorum nam, adipisci
    temporibus, deserunt neque iste reprehenderit doloribus. Sequi, quibusdam harum! Mollitia possimus aperiam ea
    ratione temporibus. Rem.
    Fugiat eligendi consectetur ea doloremque provident debitis odit tempore numquam? Nam, officiis? Esse nobis laborum,
    corporis aut quia illum sequi eius blanditiis. Ab veniam architecto repellat alias velit quas incidunt.
    Nisi qui, facilis distinctio debitis accusamus modi nulla esse id fugit cupiditate reiciendis, rerum dolorem. At
    sint ipsa facere! Provident quibusdam ab repellendus exercitationem deserunt saepe quae tempore assumenda at.
    Voluptas deserunt quibusdam harum tenetur suscipit quas quis reiciendis dolorem, iste aut, voluptatem cupiditate
    culpa debitis, eum earum doloribus aspernatur maiores saepe esse laboriosam dolor nemo dicta. Soluta, architecto
    tempore.
</div>

{% endblock %}