{% extends 'index.html' %}


{% block title %}Acerca{% endblock %}


{% block content %}

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; color: #555">
<p>OnlyFlans es una pequeña empresa familiar fundada por personas apasionadas de los flanes que utilizan ingredientes frescos y recetas tradicionales para preparar los mejores flanes artesanales.</p>
<p>Con mucho cariño y dedicación, elaboramos nuestros flanes utilizando métodos tradicionales para resaltar su sabor único y cremoso.</p>
</div>

{% endblock %}