{% extends 'index.html' %}


{% block title %}Bienvenido cliente{% endblock %}


{% block content %}

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
    <div class="card mb-3 p-3 mt-3" style="width: 16rem">
        <div class="card-body">
            <h5 class="card-title">Iniciar sesión</h5>
            <form>
                <div class="mb-3">
                    <label for="exampleInputUsername1" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="exampleInputUsername1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    <div class="d-flex justify-content-between m-3">
                        <label for="flexSwitchCheckDefault">Mostrar contraseña</label>
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                            onclick="myFunction()">
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </form>
            <p class="card-text mt-3">¿No tienes una cuenta? <a href="#">Regístrate</a></p>
        </div>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("exampleInputPassword1");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>





{% endblock %}min-height: 80vh;