{% load static %}

<div class="footer card mt-auto shadow text-center py-3 px-5">
    <!--footer-->
    <div class="d-flex justify-content-between align-items-center">
        <div>
            Creado por Carlos Perales &copy; 2024 DesafioLatam. Todos los derechos reservados.
        </div>
        <div class="social-icons d-flex gap-3">
            <a href={% static "img/sad.png" %}><i class="fab fa-facebook-f"></i></a>
            <a href={% static "img/sad.png" %}><i class="fab fa-twitter"></i></a>
            <a href={% static "img/sad.png" %}><i class="fab fa-instagram"></i></a>
            <a href={% static "img/sad.png" %}><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</div>